<table>
    <tr>
        <td>Enter Full Name : </td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td>Enter Email ID : </td>
        <td><input type="email"></td>
    </tr>
    <tr>
        <td>Enter Mobile Number : </td>
        <td><input type="number"></td>
    </tr>
    <tr>
        <td>Enter User Name : </td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td>Enter Password : </td>
        <td><input type="password"></td>
    </tr>
    <tr>
        <td>Enter confirm password : </td>
        <td><input type="password"></td>
    </tr>
</table>