<table border="5" [cellPadding]="5" [cellSpacing]="5">
    <tr>
        <td>Book ID </td>
        <td>Book name </td>
        <td>Book Author </td>
        <td>Book price </td>
    </tr>
    <tr>
        <td> <input type="number" [(ngModel)]="blankBook.bookId"></td>
        <td><input type="text" [(ngModel)]="blankBook.bookName"> </td>
        <td><input type="text" [(ngModel)]="blankBook.bookAuthor"></td>
        <td><input type="number" [(ngModel)]="blankBook.bookPrice"></td>
    </tr>
    <tr>
        <td>    <button (click)="localAddBook()">Add a book</button></td>

</tr>
</table>


