<!-- <h1> Hello, {{thePersonObj.firstName}} {{thePersonObj.lastName}}, how are you doing ?</h1>
<h2> My age is {{thePersonObj.age}} and I am belonged to {{thePersonObj.city}} </h2>
<h3> My favourite food is {{thePersonObj.favouriteFood}}</h3>

<Hr>

<h1> Hello, {{thePersonObj2.firstName}} {{thePersonObj2.lastName}}, how are you doing ?</h1>
<h2> My age is {{thePersonObj2.age}} and I am belonged to {{thePersonObj2.city}} </h2>
<h3> My favourite food is {{thePersonObj2.favouriteFood}}</h3>

<Hr> -->


<h1>App component</h1>

<!-- <app-header></app-header>
<app-side-navigation></app-side-navigation>
<app-main></app-main>
<app-footer></app-footer> -->


<!-- <app-simple-interest></app-simple-interest> -->

<!-- <app-condition></app-condition> -->


<!-- <app-switch-test></app-switch-test> -->

<!-- <app-like-dis-like></app-like-dis-like>
<app-uploading-downloading></app-uploading-downloading> -->

<!-- <app-for-test></app-for-test>  -->

<!-- <button (click)="banking()">Transfer funds</button>
<button (click)="accDetails()">print details of account</button> -->

<!-- <app-account-component></app-account-component> -->


<!-- <app-add-payee></app-add-payee>
<app-add-flight></app-add-flight>
<app-view-flight></app-view-flight>
<app-view-all-flights></app-view-all-flights>

<app-add-statement></app-add-statement>
<app-modify-statement></app-modify-statement>
<app-delete-statement></app-delete-statement>


<app-lion></app-lion>
<app-tiger></app-tiger>
<app-monkey></app-monkey> -->
<!-- --------------------------------------------------------------------- -->

<!-- PIPES -->
<!-- <p>Todays date is todaysDate</p>
<p>Todays date is {{todaysDate}}</p>
<p>Todays date is {{todaysDate | date}}</p>
<p>Todays date y is {{todaysDate | date:'dd/MM/y'}}</p>
<p>Todays date yy is {{todaysDate | date:'dd/MM/yy'}}</p>
<p>Todays date yyy is {{todaysDate | date:'dd/MM/yyy'}}</p>
<p>Todays date yyyy is {{todaysDate | date:'dd/MM/yyyy'}}</p>
<hr>
<p>Todays date is {{todaysDate | date:'dd/MM/y HH:mm' }}</p>
<hr>
<p>Todays date is short {{todaysDate | date:'short'}}</p>
<p>Todays date is IST short {{todaysDate | date:'short':'IST'}}</p>
<p>Todays date is CDT short {{todaysDate | date:'short':'CDT'}}</p>
<hr>
<p>Todays date is medium {{todaysDate | date:'medium'}}</p>
<p>Todays date is long {{todaysDate | date:'long'}}</p>
<p>Todays date is full {{todaysDate | date:'full'}}</p>
<hr>
<p>Todays date is shortDate {{todaysDate | date:'shortDate'}}</p>
<p>Todays date is mediumDate {{todaysDate | date:'mediumDate'}}</p>
<p>Todays date is longDate {{todaysDate | date:'longDate'}}</p>
<hr>
< For currency-->
<!-- <p>My salary is {{mySalary | currency: 'INR'}}</p>
<p>My salary is {{mySalary | currency: 'EUR'}}</p>  -->

<!-- ---------------------------------------------------- -->
<!-- <p>average of {{10 | calculateAverage : 20:30:50:40}}</p>
<p>average of {{20 | calculateAverage : 30}}</p>
<p>average of {{20 | calculateAverage : 30:23:22:21:24:26:27}}</p>

<p>Simple Interest is {{2000 | simpleInterestPipe : 2.5:5}}</p>
<p>Simple Interest is {{1000 | simpleInterestPipe : 5.5:2}}</p> -->

<!-- ---------------------------------------------------- -->
<!-- <app-home></app-home> -->
<!-- ---------------------------------------------------- -->
<!-- <app-array></app-array> -->
<!-- ---------------------------------------------------- -->
<!-- <app-funds-transfer-page></app-funds-transfer-page>    -->
<!-- --------------------------------------------------------------------- -->
<!-- Routing -->
<!-- <ul>
    <li>
        <a routerLink="/Home">Home</a>
    </li>
    <li>
        <a routerLink="/About">About Us</a>
    </li>
    <li>
        <a routerLink="/Profile">Profile</a>
    </li> 
    <li>
        <a routerLink="/Career">Career</a>
    </li>
</ul>
-->



<!-- <app-array></app-array> -->
<router-outlet></router-outlet>
<!-- -------------------------------- -->

<!-- <div id="material-example">

    <h1>ToolBar</h1>

    <mat-toolbar color="primary">

        <span>Material Design Rocks!</span>

    </mat-toolbar>

    <br />

    <h1>Buttons</h1>


    <button mat-button>Basic1</button>
    <button mat-raised-button>Raised</button>
    <button mat-icon-button><mat-icon>favorite</mat-icon></button>
    <button mat-fab>Fab</button>
    <button mat-mini-fab>mFab</button>


    <button mat-button>Basic2</button> -->
<!-- </div> -->

<!-- <app-template-form></app-template-form> -->
<app-observer-demo></app-observer-demo>