<h2>Adding New Book</h2>

<table border="5" cellspacing="5" cellpadding="5">
    <tr>
        <th>Book Id</th>
        <th>Book Title</th>
        <th>Book Author</th>
        <th>Book Price</th>
    </tr>

    <tr>
        <td><input type="number" [(ngModel)]="blankBook.bookId"></td>
        <td><input type="text" [(ngModel)]="blankBook.bookName"></td>
        <td><input type="text" [(ngModel)]="blankBook.bookAuthor"></td>
        <td><input type="number" [(ngModel)]="blankBook.bookPrice"></td>
    </tr>
    <tr>
        <button (click)="localAddBook()">Add This Book</button>
    </tr>
</table>