<!-- Question : 1]  -->
<app-login-registration></app-login-registration>

<!-- ------------------------------------------------------------------------------------------------- -->

<!-- Question : 2]  -->
<app-like-dis-like></app-like-dis-like>

<!-- ------------------------------------------------------------------------------------------------- -->

<!-- Question : 3]  -->
<app-compound-interest></app-compound-interest>

<!-- ------------------------------------------------------------------------------------------------- -->

<!-- Question : 4]  -->
<app-fund-transfer></app-fund-transfer>

<!-- ------------------------------------------------------------------------------------------------- -->

<!-- Question : 5]  -->
<hr>
<div class="container2">
    <br>
    <h1 class="container3"><u>Welcome to Angular Service with Routing Page</u></h1>

    <ul class="container">
        <li><a routerLink="/addFriend"> <button
                    [ngStyle]="{'background-color':'rgb(238, 175, 175)','color':'Red','padding':'10px','font-size':'15px'}">
                    Add Friend </button></a></li>
        <li><a routerLink="/viewFriend"><button
                    [ngStyle]="{'background-color':'rgb(238, 175, 175)','color':'Red','padding':'10px','font-size':'15px'}">View
                    Friend </button></a></li>
        <li><a routerLink="/showAllFriends"> <button
                    [ngStyle]="{'background-color':'rgb(238, 175, 175)','color':'Red','padding':'10px','font-size':'15px'}">Show
                    all Friend </button></a></li>
        <li><a routerLink="/modifyFriend"> <button
                    [ngStyle]="{'background-color':'rgb(238, 175, 175)','color':'Red','padding':'10px','font-size':'15px'}">Modify
                    a Friend </button></a></li>
    </ul>
    <router-outlet></router-outlet>
    <br>
</div>
<hr>

<!-- ------------------------------------------------------------------------------------------------- -->
